@import "tailwindcss";

:root {
  --dynamic-accent-color: #7066A8;
  --background-main: #F9F6EE;
  --primary-text: #333333;
  --secondary-text: #555555;
  --hover-color: #ededed;
  --hover-text: #242424;
  --subtle-color: #333;
  --background: #F9F6EE;
  --foreground: #333333;
  --card: #ffffff81;
  --card-foreground: #333333;
  --popover: #ffffff;
  --popover-foreground: #333333;
}

.dark {
  --dynamic-accent-color: #7066A8;
  --background-main: #0a0a0a;
  --primary-text: #ededed;
  --secondary-text: #aaaaaa;
  --hover-color: #161616;
  --hover-text: #c7c7c7;
  --subtle-color: #333;
  --background: #0a0a0a;
  --foreground: #fafafa0;
  --card: #17171781;
  --card-foreground: #fafafa0;
  --popover: #171717;
  --popover-foreground: #fafafa;
}

@theme {
  --color-theme-color: var(--dynamic-accent-color);
  --color-main: var(--background-main);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-hover: var(--hover-color);
  --color-text-hover: var(--hover-text);
  --color-subtle: var(--subtle-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
}

/* Text selection styles */
::selection {
  @apply bg-primary-text/20 text-primary-text;
}

/* For Firefox */
::-moz-selection {
  @apply bg-primary-text/20 text-primary-text;
}

@layer base {
  body {
    @apply bg-main text-primary-text transition-colors duration-500 px-2 md:px-10 md:mx-20;
    -webkit-tap-highlight-color: transparent;
    @apply bg-background text-foreground;
  }
}

@layer components {

  .animate-swipe-in {
    animation: swipe-in 3s forwards;
  }
  .profile-badges {
    @apply flex mb-6 flex-wrap gap-2 sm:flex sm:gap-2;
  }
  .icon {
    @apply size-9 p-2 rounded-sm hover:text-main hover:bg-theme-color transition-colors duration-200 ease-in-out;
  }
  .speech-bubble {
    @apply relative px-4 py-2 text-sm text-primary-text bg-hover rounded-sm flex items-center gap-2;
  }
}

@keyframes swipe-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slide-up-fade-in {
  animation: slide-up-fade-in 0.3s ease-out forwards;
}

@keyframes slide-up-fade-in {
  from {
    transform: translateY(20px) scale(0.98);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
